<div class="jumbotron text-center container-fluid">
    <h1>Kayak Fish Market</h1>
</div>
 
<div class ="container-fluid">
    <div class="row">
      <div class="col-md-4 text-center">
        <h2>Meet the fishermen</h2>
      </div>
      <div class="col-md-4 text-center">
        <h2>Fish for Sale</h2>
      </div>
      <div class="col-md-4 text-center">
        <h2>Contact Us</h2>
      </div>
    </div> 
</div>