// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

.navbar {
    margin-bottom:0px;
}

.navbar-default {
    border:none;
}

.jumbotron {
     padding-bottom:100px;
     border-radius:0px;
    & h1{
       color:white;}
   }

h1 {
    font-family: 'Architects Daughter', cursive;
}

.jumbotron, 
.navbar,
 {    
    background: #c2e59c; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #c2e59c , #64b3f4); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #c2e59c , #64b3f4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navbar-default .navbar-toggle{
    border-color:white;
    &:focus {
    background-color:transparent;
    }
    &:hover {
        opacity:.75;
    }
}

.navbar-default .navbar-toggle .icon-bar {
    background-color:white;
}
.navbar-default .navbar-brand{
    color:white;
    &:hover{
        opacity:.85;
    }
}

.navbar-default .navbar-nav > li > a {
    color:white;
    &:hover {
        opacity:.75;
    }
}
ul {
    float:right;
}
